.about-container {
  width: 100%;
  height: auto;
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.about-container>div {
  display: flex;
  flex-direction: row;
  width: 60%;
  justify-content: space-between;
  align-items: center;
}

.right>p {
  padding-right: 2%;
}

.left>p {
  padding-left: 2%;
}



@media only screen and (max-width: 769px) {
  .about-container>div {
    width: 90%;
  }

  .left>p, .right>p {
    padding-left: 0%;
    padding-right: 0%;
  }
}