.contacts-container {
  width: 100%;
  height: auto;
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 10%;
  margin-bottom: 10%;
}

.form-container {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container>button {
  border: none;
  margin-top: 5%;
  color: var(--darkestBlue);
  font-weight: bold;
  font-size: large;
  text-shadow: 1px 1px 2px var(--lighterBlue), 0 0 1em var(--lighterBlue), 0 0 0.2em var(--lighterBlue);
  width: 150px;
  height: 40px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  background-color: var(--lightBlue);
  transition: all 0.5s ease-in-out;
}

.form-container>button:hover {
  border: none;
  justify-content: center;
  background-color: var(--darkerBlue);
  align-items: center;
  color: white;
  text-shadow: 1px 1px 10px var(--lightBlue), 0 0 1em var(--lighterBlue), 0 0 1em var(--lighterBlue);
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.input-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.input-areas {
  width: 100%;
}

.input-areas>label {
  text-align: left;
}

.input-areas>textarea {
  width: 100%;
  min-width: 60%;
  min-height: 30px;
  resize: none;
  display: flex;
}

.message>textarea {
  min-height: 100px;
}

.social-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 5%;
  width: 30%;
  position: relative;
  top: 5%;
  transform: translate(25%);
  overflow: hidden;
}

.social-container>label {
  width: 100%;
  margin-top: 5%;
  text-align: left;
}

.social-icon {
  vertical-align: middle;
  margin-right: 1%;
}

@media only screen and (max-width: 769px) {
  .form-container {
    width: 80%;
  }
  .social-container {
    width: 70%;
    transform: translate(10%);
  }
}

