.contacts-container {
  width: 100%;
  height: auto;
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 10%;
  padding-bottom: 5%;
}

.form-container {
  padding: 2%;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  background-color: var(--darkestBlue2);
  box-shadow: -2px 2px 5px 1px var(--black);
}

.form-container>button {
  border: none;
  border-radius: 5px;
  margin-top: 5%;
  color: var(--darkestBlue);
  font-weight: bold;
  font-size: large;
  text-shadow: 1px 1px 2px var(--lightBlue), 0 0 1em var(--lighterBlue), 0 0 0.2em var(--lighterBlue);
  width: 150px;
  height: 40px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  background-color: var(--lightBlue);
  transition: all 0.5s ease-in-out;
}

.form-container>button:hover {
  border: none;
  justify-content: center;
  background-color: var(--darkerBlue);
  align-items: center;
  color: white;
  text-shadow: 1px 1px 10px var(--lightBlue), 0 0 1em var(--lighterBlue), 0 0 1em var(--lighterBlue);
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.input-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.input-areas {
  width: 100%;
}

.input-areas>label {
  text-align: left;
}

.input-areas>textarea {
  border-radius: 5px;
  width: 100%;
  min-width: 60%;
  min-height: 30px;
  resize: none;
  display: flex;
  box-sizing: border-box;
}

.message>textarea {
  min-height: 100px;
}

.social-container {
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  align-items: center;
  
}

.social-link-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.social-link-container>div {
  display: block;
  text-align: left;
}

.social-text {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  font-weight: bold;
}

.social-text>a {
  display: flex;
}

.social-icon {
  vertical-align: middle;
  margin-right: 5%;
}

@media only screen and (max-width: 769px) {
  .form-container {
    width: 90%;
  }
  .social-container {
    width: 70%;
  }
}

