.header-container {
  width: 100%;
  height: 100vh;
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.main{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-btn-container{
  margin-top: 2%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.main-content {
  width: 40%;
  justify-content: flex-start;
}

.main>h1 {
  color: var(--lighterBlue);
  text-shadow: 1px 1px 2px var(--black);
}

.main>h2 {
  color: var(--lightBlue);
  text-shadow: 1px 1px 2px var(--black);
}

.main>h3 {
  color: var(--lightBlue);
  text-shadow: 1px 1px 2px var(--black);
}

@media only screen and (max-width: 769px) {
  .main-content {
    width: 90%;
  }
}