.photo-left {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.photo-right {
  border-radius: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

@media only screen and (max-width: 769px) {
  .photo-left, .photo-right {
    border: none;
    display: none;
  }

  .p1-container .photo-right {
    display: flex;
    flex-direction: column;
  }
}
