.ProjectCard {
  margin-top: 5%;
  display: flex;
  gap: 1%;
}

.pCard-container {
  width: 500px;
  aspect-ratio: 2.5/1;
  box-sizing: border-box;
  border: 1px solid var(--lighterBlue);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.pInfo-container {
  display: flex;
  height: 100%;
}

.pTitle-container {
  width: 50%;
  height: 100%;
  margin: 0%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pTitle-container>h3 {
  margin: 2%;
}

.pTitle-container>p {
  margin: 0%;
  width: 100%;
  color: white;
  display: flex;
  padding-left: 1%;
}

.pContent-container {
  width: 50%;
  height: 100%;
  margin: 0%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pDescription {
  font-size: 12px;
  display: flex;
  margin: 2% 2% 0% 2%;
  overflow: auto;
}

.pLanguages {
  margin: 0%;
  background-color: var(--darkerBlue);
  width: calc(100% - 2px);
  color: var(--lightBlue);
  display: flex;
  justify-content: flex-end;
  padding-left: 1%;
}

.pCard-container>img {
  opacity: 0.8;
  position: absolute;
  z-index: -1;
  width: 50%;
  max-width:100%;
  max-height:100%;
  object-fit: cover; 
}

.status-container {
  height: 20px;
  display: flex;
  justify-content: center;
  background-color: var(--lighterBlue);
  width: calc(100% + 1px);
  transform: translateX(-1px);
}

.status-container>p {
  margin: 0;
  font-weight: bold;
}

.project-link-container {
  display: flex;
  flex-direction: row;
  gap: 1%;
}

.gitHub {
  display: flex;
  justify-content: space-between;
  padding-top: 2%;
  padding-bottom: 2%;
  writing-mode: vertical-lr;
  text-orientation:upright;
  align-items: center;
  background-color: var(--black);
  width: 30px;
}

.webPage {
  margin-left: 5%;
  width: 30px;
  display: flex;
  justify-content: space-between;
  padding-top: 2%;
  padding-bottom: 2%;
  writing-mode: vertical-lr;
  text-orientation:upright;
  align-items: center;
  background-color: var(--darkerBlue);
}

@media only screen and (max-width: 769px) {
  .ProjectCard {
    margin-top: 20%;
    display: flex;
    flex-direction: column;
    width: 90%;
  }

  .pCard-container {
    width: 100%;
  }

  .pCard-container>img {
    overflow: hidden;
    max-width: 100%;
    max-height: 100%;
    width: 60%;
    height: auto;
    object-fit: cover;
  }

  .pContent-container {
    width: 40%;
    margin-left: 2%;
  }

  .pTitle-container {
    width: 60%;
  }

  .project-link-container{
    margin-top: 2%;
    flex-direction: column;
    width: 100%;
  }

  .gitHub {
    width: auto;
    height: 30px;
    padding: 0 2% 0 2%;
    writing-mode: horizontal-tb;
    text-orientation: sideways;
    align-items: center;
  }

  .webPage {
    margin-left: 0%;
    width: auto;
    height: 30px;
    padding: 0 2% 0 2%;
    writing-mode: horizontal-tb;
    text-orientation: sideways;
    align-items: center;
    margin-top: 2%;
  }

  .pLanguages {
    font-size: small;
  }
}