:root {
  --darkerBlueOpaque: #225c73e9;
  --darkestBlueOpaque: #162c40dd;
  --darkestBlue: #162C40;
  --lighterBlue: #2675A6;
  --lightBlue: #73B2D9;
  --darkerBlue: #225C73;
  --black: #0D0D0D;
}

body {
  background: var(--darkestBlue);
  color: var(--lightBlue);
  margin: 0;
  font-family: 'Share Tech Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
}

code {
  font-family: 'Share Tech Mono', monospace;
}
